*{
    padding:0;
    margin:0;

}
body{
    background-color: black;
}
.hello-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hello-section span{
    color: bisque;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-size: 2.7rem;
}

.loader,
.main-content{
    width:100vw;
    height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;
}

.loader{
    background-color:bisque;

    position:fixed;
    inset:0;

    z-index:1000;
}

.main-content{
    background-color:black;
    color: bisque;
}
.greetings{
    font-size: 42vw;
}

.navbar{
    width:100vw;
    box-sizing:border-box;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:1rem 3rem;
    color:bisque;
}
.navbar-title{
    font-size:1.5rem;
    line-height:1.1;
}
.navbar-list{
    list-style:none;
    display:flex;
    gap:2rem;
}
.navbar-list li{
    text-transform:capitalize;
    cursor:pointer;
}
