*{
    padding:0;
    margin:0;

}
body{
    background-color: #151414;
}
.hello-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    
}
.loader,
.main-content{
    width:100vw;
    height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;
}

.loader{
    background-color:#f3c77c;

    position:fixed;
    inset:0;

    z-index:1000;
}

.main-content{
    background-color:#151414;
    color: #f3c77c;
}
.greetings{
    font-size: 42vw;
}

.navbar{
    width:clamp(100vw,100vw,100vw);
    box-sizing:border-box;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:1rem 3rem;
    color:#f3c77c;
}
.navbar-title{
    font-size:1.5rem;
    line-height:1.1;
}
.navbar-list{
    list-style:none;
    display:flex;
    gap:2rem;
}
.navbar-list li{
    text-transform:capitalize;
    cursor:pointer;
}


/* VIDEO SECTION */

.video-section{
    width: 100vw;
    height: 100vh;
    color: #f3c77c;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.text-section-1{
    color: #f3c77c;
    width: clamp(calc(100vw-8vw),100vw,100vw);
    /* height: clamp(33vh,100vh,100vh); */
    box-sizing:border-box;

    /* display: flex;
    justify-content: center;
    align-items: center; */

    margin-top: 5%;

    padding-left: 8vw;
    padding-right: 8vw;
}

.text-section-1 h1{
    font-size: 10vw;
   margin: -1rem;
}

.highlighted-text{
    display: inline-flex;
    justify-content: center;
    text-align: center;
    background-color: #f5f5dc27 ;
    text-align: center;
    font-size: 1.5rem;
}
.showcase-section{
    margin-top: clamp(20vh,33vh,20vh);
    background-color: #151414;

    width: 100vw;
    color: #f3c77c;

}
.flexbox-container{
    
    display: grid;
    grid-template-columns:repeat(8,1fr) ;
    padding: 5% 5% 5% 5%;

}